# Flask core
flask
flask_sqlalchemy
flask_migrate
gunicorn

# Utilities
requests
pandas
nest_asyncio

# LangChain ecosystem
langchain
langchain-google-genai
langchain-huggingface
langchain-community


# Search + Embeddings
faiss-cpu
sentence-transformers

# Optional (remove if not needed)
playwright
